<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Boolzapp</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <div id="root">
            <div class="bg">
                <div class="header-bg"></div>
                <div class="main">

                    <!-- inizio main left -->
                    <div class="main-left">

                        <div class="my-account">
                            <div class="container-img-account">
                                <img src="images/avatar_1.png" alt="">
                            </div>
                            <div class="widgets">
                                <i class="fas fa-redo-alt"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <div class="bell-area">
                            <div class="content-bell-area">
                                <div class="icon-bell">
                                    <i class="fas fa-bell-slash"></i>
                                </div>
                                <div class="description-bell">
                                    <h4>Ricevi notifiche nuovi messaggi</h4>
                                    <p>Attiva notifiche desktop</p>
                                </div>
                            </div>
                        </div>

                        <div class="find-chat">
                            <div class="search-icon">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="search-text">
                                <input type="text" placeholder="Cerca o inizia una nuova chat" name="" value="" v-model="search">
                            </div>
                        </div>

                        <div class="friend-list">

                            <ul>
                                <li class="content-LI" v-for="(element, i) in filteredSearch" @click="selected = i" :class="{active:selected == i}">
                                    <div class="account-friend">
                                        <div class="avatar-list">
                                            <img v-bind:src="contacts[i].avatar"/>
                                        </div>
                                        <div class="data-friend">
                                            <h3>{{element.name}}</h3>
                                            <p>Non poteva essere altrimenti</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- fine main left -->

                    <!-- inizio main right -->
                    <div class="main-rigth">
                        <div class="top-main-rigth">

                            <div class="account-friend">
                                <div class="container-img-account">
                                    <img src="images/avatar_1.png" alt="">
                                </div>
                                <div class="data-friend">
                                    <p class="name-friend">Michele</p>
                                    <p>Ultimo accesso oggi alle 15:40</p>
                                </div>
                            </div>

                            <div class="widgets">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>

                        </div>

                        <div class="conversation">
                            <div class="content-conversation">
                                <div class="message" v-for="(element, index) in contacts[0].messages" :class="element.status">
                                {{ element.message }}
                                {{ substr }}
                                </div>


                            </div>
                        </div>

                        <div class="write-mess">
                            <div class="emote">
                                <i class="far fa-smile"></i>
                            </div>
                            <div class="input-mess">
                                <input type="text" placeholder="Scrivi un messaggio" v-model="messageText" name="" value="">
                            </div>
                            <div class="send-mess" @click="addMessage()" @click="answer1sec()">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>

                    <!-- inizio main right -->

                </div>
            </div>
        </div>






    <script src="main.js" charset="utf-8"></script>
    </body>
</html>
