* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: #d9dcd5;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg {
    width: 100%;
    height: 120px;
    background-color: #009788;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
}

.main {
    background-color: lightgreen;
    width: 1500px;
    height: 95vh;
    position: absolute;
    z-index: 2;
    display: flex;
}

/*inizio main-left*/

.main-left {
    width: 30%;
    height: 100%;
    background-color: red;
}

.my-account {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
}
.my-account {
    border-right: 1px solid black;
}

.bell-area {
    width: 100%;
    height: 80px;
    background-color: #8edafc;
}

.find-chat {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-around;
}

.search-icon {
    width: 20%;
    height: 100%;
    background-color: yellow;
}

.search-text {
    width: 75%;
    height: 100%;
    background-color: orange;
}

/*fine main-left*/


/*inizio main-right*/

.main-rigth {
    width: 70%;
    height: 100%;
}

.write-mess,
.top-main-rigth {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
}

.top-main-rigth {
    display: flex;
    justify-content: space-between;
}

.account-friend {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-img-account {
    width: 50px;
    height: 50px;
}

.container-img-account img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.data-friend p.name-friend {
    font-size: 20px;
}

.data-friend p {
    font-size: 12px;
}

.widgets {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conversation {
    width: 100%;
    height: calc(100% - 120px);
    background-image: url('images/bg-whatsapp.png');
}

/*inizio write-mess*/

.write-mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emote {
    margin-left: 30px;
    font-size: 30px;
}

.input-mess input {
    width: 900px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.send-mess {
    margin-right: 30px;
    font-size: 30px;
}

/*fine write-mess*/

/*fine main-right*/
