* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: #d9dcd5;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg {
    width: 100%;
    height: 120px;
    background-color: #009788;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
}

.main {
    background-color: #eaeaea;
    width: 1500px;
    height: 95vh;
    position: absolute;
    z-index: 2;
    display: flex;
}

/*inizio main-left*/

.main-left {
    width: 30%;
    height: 100%;
}

.my-account {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    border-right: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-account .container-img-account {
    margin-left: 10px;
}

.bell-area {
    width: 100%;
    height: 70px;
    background-color: #8edafc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-bell-area {
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.icon-bell {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-bell i {
    font-size: 25px;
    color: #8edafc;
}

.bell-area p {
    font-size: 14px;
    text-decoration: underline;
}

.find-chat {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}

.search-text {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 3px;
}

.search-text input {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 5px;
    border: none;
}

.friend-list .avatar-list {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.friend-list .avatar-list img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-LI {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.content-LI.active {
    background-color: #d1d1d1;
}

/*fine main-left*/


/*inizio main-right*/

.main-rigth {
    width: 70%;
    height: 100%;
}

.write-mess,
.top-main-rigth {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
}

.top-main-rigth {
    display: flex;
    justify-content: space-between;
}

.account-friend {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-img-account {
    width: 50px;
    height: 50px;
}

.container-img-account img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.data-friend p.name-friend {
    font-size: 20px;
}

.data-friend p {
    font-size: 12px;
}

.widgets {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.widgets i {
    font-size: 20px;
}

.conversation {
    width: 100%;
    height: calc(100% - 120px);
    background-image: url('images/bg-whatsapp.png');
    display: flex;
    align-items: center;
}

.content-conversation {
    width: 90%;
    height: 95%;
    margin: auto;
}

.message {
    max-width: 200px;
    border-radius: 10px;;
    padding: 10px;
    text-align: center;
    clear: both;
}

.received{
    background-color: #d5f9bb;
    float: left;
}

.sent {
    background-color: #fff;
    float: right;
}

/*inizio write-mess*/

.write-mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #f9f9f9;
}

.emote {
    margin-left: 30px;
    font-size: 30px;
}

.input-mess input {
    width: 900px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.send-mess {
    margin-right: 30px;
    font-size: 30px;
}

/*fine write-mess*/

/*fine main-right*/
